<a href="https://colab.research.google.com/github/KodumuruRaja/Regression-Algorithms/blob/main/Multivariate-Adaptive-Regression-Splines-(MARS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install sklearn-contrib-py-earth

Requirement already satisfied: sklearn-contrib-py-earth in /usr/local/lib/python3.6/dist-packages (0.1.0)
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.6/dist-packages (from sklearn-contrib-py-earth) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from sklearn-contrib-py-earth) (1.15.0)
Requirement already satisfied: scikit-learn>=0.16 in /usr/local/lib/python3.6/dist-packages (from sklearn-contrib-py-earth) (0.22.2.post1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy>=0.16->sklearn-contrib-py-earth) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.16->sklearn-contrib-py-earth) (1.0.0)

In [ ]:
import numpy as np
import pandas as pd
import warnings
from pyearth import Earth
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [ ]:
warnings.filterwarnings("ignore")

In [ ]:
df=pd.read_csv("/content/Data.csv")

In [ ]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [ ]:
target_col="sales"
x=df.iloc[:,df.columns!=target_col]
y=df.iloc[:,df.columns==target_col]

In [ ]:
x.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [ ]:
y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

# **Linear Regression**

In [ ]:
lr=LinearRegression()
LRF=lr.fit(x,y)

In [ ]:
print("Intercept",LRF.intercept_)
print("Slope",LRF.coef_)

Intercept [2.93888937]
Slope [[ 0.04576465  0.18853002 -0.00103749]]

In [ ]:
y_pred=LRF.predict(x)

In [ ]:
r2_score(y,y_pred)

0.8972106381789522

In [ ]:
mean_squared_error(y,y_pred)

2.784126314510936

# **MARS**

In [ ]:
mars=Earth(max_terms=500,max_degree=1)

In [ ]:
marsf=mars.fit(x,y)

In [ ]:
y_predm=marsf.predict(x)

In [ ]:
r2_score(y,y_predm)

0.9321253448070311

In [ ]:
mean_squared_error(y,y_predm)

1.8384355176763614

In [ ]:
marsf.summary()

'Earth Model\n-------------------------------------\nBasis Function  Pruned  Coefficient  \n-------------------------------------\n(Intercept)     No      8.01833      \nh(TV-23.8)      Yes     None         \nh(23.8-TV)      No      -0.183285    \nradio           No      0.196525     \nh(TV-89.7)      No      0.0354366    \nh(89.7-TV)      No      -0.0630868   \nh(radio-47)     Yes     None         \nh(47-radio)     Yes     None         \nh(radio-44.5)   Yes     None         \nh(44.5-radio)   Yes     None         \n-------------------------------------\nMSE: 1.8384, GCV: 2.0587, RSQ: 0.9321, GRSQ: 0.9248'